@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  border: none;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #f2f2f2 !important;
}

#cabecera_promo {
  background-color: #007DAF;
  width: 100%;
}

.texto-base {
  font-size: 0.9em;
}

#cabecera_principal {
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px #a8a8a8;
          box-shadow: 0px 3px 5px #a8a8a8;
}

.menu-superior {
  list-style: none;
}

.menu-superior li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.9em;
  margin: 0 5px;
}

.menu-superior li a {
  color: black;
}

.menu-superior li a svg {
  width: 20px;
  position: relative;
  top: 7px;
}

.menu-superior li a:hover {
  color: orange;
}

#cabecera_central #logo_fandeal {
  width: 80%;
}

#cabecera_central #campo_busqueda {
  border: 2px solid #FD790E;
  border-radius: 20px;
  width: 100%;
  outline: 0;
  color: grey;
  padding: 5px 10px;
  font-size: 0.85em;
}

#cabecera_central button {
  outline: 0;
  border-radius: 100%;
  background-color: #FD790E;
  border: solid 2px #FD790E;
  position: absolute;
  right: 0;
  top: -2px;
  cursor: pointer;
}

#cabecera_central button svg {
  color: white;
}

#cabecera_central #carrito_acceso {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 6px;
}

#cabecera_central #carrito_acceso span {
  position: absolute;
  background: #FD790E;
  text-align: center;
  font-size: 0.7em;
  padding: 2px;
  border-radius: 40px;
  width: 22px;
  top: 10px;
  right: 10px;
}

.menu-dd {
  width: 100%;
  outline: 0;
}

.menu-dd2 {
  width: 100%;
  outline: 0;
  border-radius: 0px 0px 10px 10px !important;
}

#menu_categorias:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#menu_categorias {
  font-weight: bold;
  background-color: #f2f2f2;
  width: 100% !important;
  border-radius: 20px 20px 0 0;
}

.dropdown-toggle::after {
  content: none !important;
}

.productos-agrupados .titulos-seccion {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.productos-agrupados .producto:hover {
  border: 1px solid #FD790E;
  cursor: pointer;
}

.productos-agrupados .producto {
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.productos-agrupados .producto .marca-prod {
  color: #FD790E;
  font-size: 0.8em;
}

.productos-agrupados .producto .categoria-prod {
  color: black;
  font-size: 0.8em;
  text-align: left;
}

.productos-agrupados .producto .titulo-prod {
  font-size: 0.95em;
  font-weight: bold;
  text-overflow: ellipsis;
  height: 30px;
  overflow: hidden;
  line-height: 1em;
}

.productos-agrupados .producto .precio-original-prod {
  font-size: 0.85em;
  color: grey;
  text-decoration: line-through;
}

.productos-agrupados .producto .descuento-prod {
  font-size: 00.8em;
  color: green;
}

.productos-agrupados .producto .precio-prod {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

#footer-principal {
  background-color: #222222;
  color: white;
  width: 100%;
}

#footer-principal img {
  float: right;
  width: 225px;
  margin-top: 20px;
}

#footer-principal .titulos-footer {
  color: #FD790E;
  font-size: 1.2em;
  font-weight: bold;
}

#footer-principal ul {
  list-style: none;
  padding-left: 10px;
}

#footer-principal ul li a {
  color: white;
}

#footer-principal ul li a:hover {
  text-decoration: underline !important;
}

#newsletter-input input {
  width: 70%;
  border: 0;
  outline: 0;
  padding: 5px;
  color: grey;
  font-weight: 100;
  border-radius: 5px;
}

#newsletter-input button {
  border: 0;
  background: #FD790E;
  color: Black;
  width: 20%;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
}

#dr-fandeal {
  font-size: 0.85em;
}
/*# sourceMappingURL=style.css.map */