@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400&display=swap');
$texto-base : 0.95em;
* {
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

#cabecera_promo {
    background-color: #007DAF;
}
.texto-base {
    font-size: $texto-base;
}
.menu-superior {
    list-style: none;
}